<section id="portfolio" class="section__portfolio flex">
  <div class="container">
    <h2 class="section__headline">
      Portfolio
    </h2>
    <h3 class="section__subheader">
      Selected projects
    </h3>

    <div class="portfolio collection flex row--top wrap">
      {{#each portfolio.items}}
        {{#unless hidden}}
          {{#if image}}
            <div class="project flex">

              <figure class="project__figure">

                <div class="project__overlay__container">

                  <div class="project__links">
                    {{#if code}}
                      <a href={{code}} title="Source code" class="icon__code">
                        <span class="mdi mdi-code-not-equal-variant"></span>
                      </a>
                    {{/if}}
                    {{#if link}}
                      <a
                        href={{link}}
                        title="See it in action"
                        class="icon__launch"
                      >
                        <span class="mdi mdi-launch"></span>
                      </a>
                    {{/if}}
                  </div>

                  <div class="project__overlay flex">
                    <ul class="project__tags tags">
                      {{#each tags}}
                        <li class="skills__item">
                          {{{this}}}
                        </li>
                      {{/each}}
                    </ul>
                  </div>

                </div>

                <img
                  class="project__image"
                  src={{image}}
                  alt={{title}}
                  width="600"
                  height="375"
                />
              </figure>

              <div class="portfolio__info">
                <h3 class="project__headline portfolio__headline">
                  {{title}}
                </h3>
                <p>
                  {{description}}
                </p>
                {{#if team}}
                  <p>
                    Team:
                    {{team}}
                  </p>
                {{/if}}
              </div>

            </div>
          {{/if}}
        {{/unless}}
      {{/each}}
    </div>
  </div>
</section>