  <section id="skills" class="flex">
    <div class="container">
      <h2 class="section__headline">
        What I do
      </h2>
      <h3 class="section__subheader">
        Things I am skilled at and passionate about
      </h3>

      <div class="collection flex row--top wrap">
        <div class="item flex">
          <div class="item__bullet flex">
            <span class="mdi mdi-creation"></span>
          </div>
          <h4 class="item__headline">Full-stack development</h4>
          <p>I see the big picture and can make technical decisions fast.</p>
        </div>
        <div class="flex item">
          <div class="flex item__bullet">
            <span class="mdi mdi-xml"></span>
          </div>
          <h4 class="item__headline">Smart code</h4>
          <p>
            My love for problem solving and challenges drive me to write clever,
            easy-to-read DRY and test driven code.
          </p>
        </div>
        <div class="flex item">
          <div class="flex item__bullet">
            <span class="mdi mdi-lightbulb-on"></span>
          </div>
          <h4 class="item__headline">Usability focus</h4>
          <p>I advocate for easy to use, intuitive UX and UI.</p>
        </div>
      </div>

      <h2 class="section__headline">
        Skills
      </h2>
      <h3 class="section__subheader">
        As a full-stack developer, these are some of the technologies I use.
      </h3>
      <nav class="skills__nav">
        {{#each skills.items}}
          <button class="button skills__button skills__button--{{category}}" data-skills-category="{{category}}" aria-label="Highlight {{category}}">{{category}}</button>
        {{/each}}
        <button class="button skills__button--reload" aria-label="Reload and randomize"><span class="mdi mdi-reload"></span></button>
        <button class="button skills__button--sort"  aria-label="Sort alphabetically"><span class="mdi mdi-sort-alphabetical-variant"></span></button>
      </nav>
      <ul id="skills__items" class="collection flex row wrap tags">
        {{#each skills.items}}
          {{#each skills}}
            <li
              class="skills__item skills__level--{{level}}"
              data-skill="{{name}}"
              data-skill-level="{{level}}"
              data-skills-category="{{../category}}"
            >
              {{name}}
            </li>
          {{/each}}
        {{/each}}
      </ul>
    </div>
  </section>